body {
    font-family: 'Roboto';
    color: $primary;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 500;
    background: $light-blue;

}
::selection{
    background-color: lighten($orange, 5);
    color: $green;
    text-shadow: 0.1em 0.1em 0 rgba($black, 0.5);
}
h1,
h2,
h3,
h4,
h5,
h6,
.secondary-font {
    font-family: 'LuckiestGuy';
}

::-webkit-scrollbar {
    background-color: transparent;
    width: calc(2.5rem * 0.25);
}

::-webkit-scrollbar-thumb {
    box-sizing: padding-box;
    background-color: rgba($primary, 1);
    background-clip: padding-box;
    border: 0 solid rgba($orange, 1);
}

::-webkit-scrollbar-track {
    background-color: $orange;
}

.bg-orange {
    background: url(../img/bg-button-zolty.png) center center no-repeat;
    background-size: 100% 100%;
    width: fit-content;
    padding: 1rem 2rem 0rem 2rem;

    &--numbers {
        background: url(../img/bg-orange-numbers.png) center center no-repeat;
        padding: .5rem 1rem 0rem 1rem;
    }
}

.bg-red {
    background: url(../img/bg-czerwony.png) center center no-repeat;
    background-size: 100% 100%;
    width: fit-content;
    padding: .5rem 2rem 1rem 2rem;

    &--numbers {
        background: url(../img/bg-czerwony-numbers.png) center center no-repeat;
        padding: .5rem 1rem 0rem 1rem;
    }

    &--whole-section-color {
        background: $red;
        clip-path: polygon(0 0, 100% 0, 100% 72%, 0% 100%);
    }
}

.bg-green {
    background: url(../img/bg-zielony.png) center center no-repeat;
    background-size: 100% 100%;
    width: fit-content;
    padding: .5rem 2rem 0rem 2rem;
}


.bg-blue {
    background: url(../img/frame-country.png) center center no-repeat;
    background-size: cover; // width: fit-content;
    padding: 2rem;
}

.bg-light-blue {
    background-color: $light-blue;
}

.bg-violet {
    background-color: $violet;
    clip-path: polygon(0 7%, 100% 0%, 100% 100%, 0% 93%);
}

.bg-white {
    background-color: $white;
    clip-path: polygon(0 0, 100% 5%, 100% 93%, 0 100%);
}

.section-title {
    font-size: 2.9rem;

    &--shadow{
        text-shadow: 10px 3px 0px rgba(0, 0, 0, 1);
    }
    @media(max-width: 991px){
        font-size: calc(1rem + 3vw);
    }
    @media(max-width: 767px){
        font-size: calc(1rem + 3.7vw);
    }
}

.text-primary {
    color: $primary !important;
}

.text-orange {
    color: $orange !important;
}

.text-red {
    color: $red !important;
}

.text-violet {
    color: $violet !important;
}

.text-green {
    color: $green !important;
}