.your-clock {
    background: $primary;
    padding: 1.5625em 0.625em;
    margin: 0;
    font-size: 3rem;
}

.flip-clock-divider {
    width: 0;
    height: 0;
    top: 0;
    display: block;
    // &.days {
    //     .flip-clock-label {
    //         // right: -5.5542em;
    //     }
    // }
    // &.minutes {
    //     .flip-clock-label {
    //         left: 5.8em;
    //         top: 3.8em;
    //     }
    // }
    .flip-clock-label {
        left: 4.5em;
        right: unset;
        top: 2.9em;
        font-size: 0.3em;
        color: rgba($white, 0.4);
        font-family: 'Antonio';
        text-transform: uppercase;
        text-align: center;
        transform: translateX(-50%);
    }
}

.flip-clock-wrapper {
    width: auto;
    ul {
        height: 1.33em;
        width: 0.666em;
        border-radius: 2px;
        margin: 0.1616em;
        padding-left: 1em;
        font-size: 1em;
        li {
            width: 100%;
            a {
                background: $primary;
                div {
                    outline: 2px solid $primary;
                    width: 100%;
                    font-size: 1em;
                    &.up {
                        &:after {
                            height: 2px;
                            background-color: $primary;
                            color: $primary;
                        }
                    }
                    &.down {
                        border-bottom-left-radius: 2px;
                        border-bottom-right-radius: 2px;
                    }
                    div {
                        &.inn {
                            color: $white;
                            font-family: 'Antonio';
                            font-size: 1em;
                            line-height: 1.2;
                            border-radius: 2px;
                        }
                    }
                }
            }
        }
        &:first-of-type,
        &:nth-of-type(2) {
            li a div div.inn {
                background: $orange;
            }
        }
        &:nth-of-type(3),
        &:nth-of-type(4) {
            li a div div.inn {
                background: $red;
            }
        }
        &:nth-of-type(5),
        &:nth-of-type(6) {
            li a div div.inn {
                background: $violet;
            }
        }
    }
}

.flip-clock-dot {
    &.top,
    &.bottom {
        display: none;
    }
}

.flip-clock-active {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        left: -10px;
        top: 48%;
        width: 12px;
        height: 2px;
        display: block;
        background: rgba(255, 255, 255, 0.5);
        transform: rotate(90deg);
    }
    &:after {
        content: '';
        position: absolute;
        right: -10px;
        top: 48%;
        width: 12px;
        height: 2px;
        display: block;
        background: rgba(255, 255, 255, 0.5);
        transform: rotate(90deg);
    }
}

@media (min-width: 768px) {
    .your-clock {
        clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
        padding: 1.5625rem 3.125rem;
        font-size: 3rem;
    }
    .flip-clock-wrapper {
        width: auto;
        ul {
            font-size: 1em;
            li {
                width: 100%;
                a div {
                    width: 100%;
                    font-size: 1em;
                    div {
                        &.inn {
                            font-size: 1em;
                        }
                    }
                }
            }
        }
    }
}