.gallery {
    padding-bottom: 6rem;
}

.gallery-bg-small {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 75%;
    padding-top: min(217px, 75%);
    @media(max-width: 767px) {
        height: 150px;
    }
}

.gallery-bg-big {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 75%;
    padding-top: min(434px, 75%);
    @media(max-width: 767px) {
        height: 300px;
    }
}