#gallery {
    padding-bottom: 6rem;
}

.gallery-bg-small {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 217px;
}

.gallery-bg-big {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 434px;
}