.slick-prev {
    left: 0;
    top: 80%;


    @media (min-width: 1200px) {
        left: -25px;
        top: 50%;

    }

    &:before {
        content: url(../img/arrow-prev.svg);
    }
}

.slick-next {
    right: 25px;
    top: 80%;

    @media (min-width: 1200px) {
        right: -25px;
        top: 50%;
    }

    &:before {
        content: url(../img/arrow-next.svg);
    }
}

.slick-dots {
    margin-bottom: 2rem;
    bottom: auto;
    margin-top: 1rem;

    @media (min-width: 600px) {
        margin-top: 0;
    }

    li {
        button {
            &:before {
                font-size: 18px;
                color: $grey;
                opacity: 1;
            }
        }

        &.slick-active {
            button {
                &:before {
                    color: $orange;
                }
            }
        }
    }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    padding: 0 0px !important;
}

#gallery-carousel {

    .slick-next {
        right: 50px;
        bottom: 40px;
        top: unset;
        z-index: 3;
    }

    .slick-prev {
        right: 13rem;
        bottom: 40px;
        left: unset;
        top: unset;
        z-index: 3;
    }
}

.counter-info {
    background: url(../img/galeria-bg-buttons.png) center center no-repeat;
    background-size: 100% 100%;
    width: 280px;
    color: $white;
    font-family: 'LuckiestGuy';
    padding: .8rem 4rem;
    position: absolute;
    right: 0;
    bottom: 6rem;
    text-align: center;

    .current_slide {
        font-size: 72px;
    }

    .total_slides,
    .divider {
        font-size: 36px;
        color: rgba($white, .5);
    }
}