.navbar-light {
    .navbar-nav {
        .nav-link {
            font-family: 'Roboto';
            font-size: 1.1rem;
            font-weight: 900;
            color: $font-black;
            position: relative;
            display: flex;
            align-items: center;
            z-index: 1;
            &:after {
                content: '';
                display: none;
                background-color: $font-black;
                border: 1px solid $font-black;
                transform: rotate(20deg);
                height: 41px;
                width: 1px;
                margin: 0 10px 0 20px;
                @media (min-width: 1200px) {
                    display: block;
                }
            }
            @media(min-width: 1200px) {
                &::before {
                    content: '';
                    display: block;
                    width: calc(100% - 1.8em);
                    height: 100%;
                    background-color: $orange;
                    z-index: -1;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: skewX(342deg);
                    opacity: 0;
                    transition: opacity 0.1s ease-out;
                }
                &:hover {
                    color: $white;
                    &::before {
                        opacity: 1;
                        transition: opacity 0.15s ease-in;
                    }
                }
            }
            @media(max-width: 1199px) {
                font-size: calc(1.4rem + 2vw);
                padding: 3.5vw 1rem;
                margin: 2vw 0;
                color: $primary;
            }
        }
    }
    .your-clock {
        font-size: 2.4rem;
        min-height: 118px;
        max-height: 118px;
        @media(max-width: 991px) {
            font-size: 3.5vw;
            height: 10.4vw;
            padding: 1.5625rem 1.525rem;
        }
        @media(max-width: 767px) {
            height: 15vw;
            min-height: 65px;
            padding: 0 2vw;
            display: flex !important;
            align-items: center;
        }
    }
    .navbar-language {
        @media(max-width: 575px) {
            margin: 0 1vw;
        }
        img {
            background-color: $grey;
            padding: 2px;
            max-height: 36px;
            max-width: 100%;
            transition: background-color 0.05s ease-out;
            @media(max-width: 767px) {
                height: 10vw;
            }
            @media(max-width: 575px) {
                height: 6vw;
            }
        }
        &:hover {
            img {
                background-color: $orange;
                transition: background-color 0.15s ease-in;
            }
        }
    }
    .navbar-collapse {
        @media(min-width: 1200px) {
            flex: 0 0 auto;
        }
    }
    .navbar-home {
        padding: 1rem;
        path {
            fill: $primary;
            transition: fill 0.05s ease-out;
        }
        &:hover {
            path {
                fill: $orange;
                transition: fill 0.15s ease-in;
            }
        }
        img {
            height: 10vw;
            max-height: 36px;
            max-width: 100%;
            @media(max-width: 575px) {
                height: 6vw;
            }
        }
        @media(max-width: 575px) {
            padding: 1vw;
        }
    }
    .navbar-toggler {
        border: 0;
        display: flex;
        align-items: center;
        &:focus,
        &:active {
            border: 0;
            outline: 0;
            color: transparent;
        }
        @media(max-width: 767px) {
            padding: 0 0 0 1rem;
        }
        @media(max-width: 575px) {
            padding: 0 0 0 1vw;
        }
        .hamburger-box {
            max-width: 50px;
            width: 8vw;
            .hamburger-inner,
            .hamburger-inner::before,
            .hamburger-inner::after {
                width: 100%;
            }
        }
    }
}

.navbar-brand {
    .img-fluid {
        position: relative;
    }
    @media (max-width: 768px) {
        margin: 0;
        width: 26.9vw;
    }
}

@media (min-width: 800px) {
    .navbar-brand {
        .img-fluid {
            max-width: 100%;
        }
    }
}