.banner {
    position: relative;
    z-index: 1;
    &__text {
        position: absolute;
        text-shadow: 4px 3px 0px rgba(0, 0, 0, 1);
        @media (min-width: 600px) {
            text-shadow: 10px 3px 0px rgba(0, 0, 0, 1);
        }
        &--yellow {
            top: 2rem;
            font-size: 1rem;
            right: 10%;
            @media(max-width: 575px) {
                top: 0.8rem;
                font-size: 1rem;
                right: 5%;
            }
        }
        &--red {
            top: 5rem;
            font-size: 1rem;
            right: 11%;
            @media(max-width: 575px) {
                top: 4rem;
                font-size: 0.8rem;
                right: 5%;
            }
        }
        @media (min-width: 600px) {
            &--yellow {
                top: 7rem;
                font-size: 2.5rem;
            }
            &--red {
                top: 11rem;
                font-size: 1rem;
            }
        }
        @media (min-width: 991px) {
            &--yellow {
                font-size: 4.5rem;
            }
            &--red {
                top: 14rem;
                font-size: 4rem;
            }
        }
    }
}

#choose-country {
    margin-top: 0rem;
    z-index: 2;
    position: relative;
    img {
        max-width: 58px;
    }
    @media (min-width: 600px) {
        max-width: 100%;
    }
    @media (min-width: 1200px) {
        margin-top: -8rem;
    }
}

#initiatives {
    &.bg-violet {
        @media(max-width: 768px) {
            clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 93%);
        }
    }
    .one-initiative {
        &__img-container {
            height: 280px;
            display: flex;
            align-items: flex-end;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &__title {
            margin-top: .75rem;
            position: relative;
            display: inline;
            // @media(max-width: 575px){
            //     padding-left: 0.75rem;
            //     margin-left: 0.75rem;
            // }
            &:after {
                content: '';
                background: url(../img/svg/underline-orange_1.svg);
                display: block;
                width: 100%;
                height: 0.8rem;
                background-size: 100% 100%;
                position: absolute;
                bottom: -0.6rem;
                left: 0;
            }
        }
        &__text {
            padding-top: 1.2rem;
            @media(max-width: 767px) {
                text-align: center;
            }
            @media(min-width: 576px) and (max-width: 767px) {}
        }
    }
}

#news {
    margin-top: -4rem;
    padding-top: 4rem;
    .slick-next,
    .slick-prev {
        @media(max-width: 575px) {
            top: 93%;
        }
    }
    .news__image{
        clip-path: polygon(4.2% 8.6%, 100% 0, 99.2% 88.8%, 0 100%);
    }
}

.choose-country {
    &__country {
        transition: color 0.2s ease;
        color: $primary;
        img {
            background-color: $grey;
            padding: 2px;
        }
        @media(max-width: 575px) {
            img {
                width: 90%;
            }
            span {
                font-size: 1rem;
            }
        }
        &:hover {
            span {
                @media(min-width: 768px) {
                    color: $white !important;
                    transition: color 0.15s ease;
                }
            }
        }
    }
    &__link {
        @media(max-width: 575px) {
            flex: 1 0 auto;
        }
    }
}