.banner {
    position: relative;
    z-index: 1;
    &__text {
        position: absolute;
        text-shadow: 4px 3px 0px rgba(0, 0, 0, 1);
        @media (min-width: 600px) {
            text-shadow: 10px 3px 0px rgba(0, 0, 0, 1);
        }
        &--yellow {
            top: 2rem;
            font-size: 1rem;
            right: 10%;
        }
        &--red {
            top: 5rem;
            font-size: 1rem;
            right: 11%;
        }
        @media (min-width: 600px) {
            &--yellow {
                top: 7rem;
                font-size: 2.5rem;
            }
            &--red {
                top: 11rem;
                font-size: 1rem;
            }
        }
        @media (min-width: 991px) {
            &--yellow {
                font-size: 4.5rem;
            }
            &--red {
                top: 14rem;
                font-size: 4rem;
            }
        }
    }
}

#choose-country {
    margin-top: 0rem;
    z-index: 2;
    position: relative;
    img {
        max-width: 58px;
    }
    @media (min-width: 600px) {
        max-width: 100%;
    }
    @media (min-width: 1200px) {
        margin-top: -8rem;
    }
}

#initiatives {
    .one-initiative {
        &__img-container {
            height: 280px;
            display: flex;
            align-items: flex-end;
        }
        &__title {
            margin-top: .75rem;
            &:after {
                content: url(../img/podkreslnik.png);
                display: block;
            }
        }
    }
}

#news {
    margin-top: -4rem;
    padding-top: 4rem;
}