.numbersPage {
    .banner {
        line-height: 70px;
        @media(max-width: 575px){
            display: none;
        }
        &--numbers {
            background: url(../img/wliczbach/background-w-liczbach.png) top center no-repeat;
            background-size: cover;
            background-position: right 20% top;
        }

        &__big-text {
            font-size: 3.3rem;
            @media(max-width: 767px){
                display: block;
            }
        }

        .text-shadow {
            text-shadow: 0px 7px 0px rgba($primary, 1);
        }
    }

    .numbers-container {
        font-size: 1.4rem;
        font-weight: 900;

        &__big-text {
            font-size: 2.9rem;
            font-family: 'LuckiestGuy';
        }
    }
    .numbers__slider{
        display: none;
        @media(max-width: 575px){
            display: block;
        }
        .slick-dots{
            position: relative;
        }
        .slick-prev, .slick-next{
            top: 97%;
        }
    }
}