/* ABSTRACTS */

$clip-padding: 3rem;
$clip-padding-divider: 5.5vw;

/* THEME */

@mixin underline {
    position: relative;
    display: inline;
    &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 1.5rem;
        background-repeat: no-repeat;
        background-size: 100%;
    }
}

.underline {
    &-orange {
        @include underline;
        &::after {
            background-image: url(../img/svg/underline-orange_1.svg);
        }
    }
    &-violet {
        @include underline;
        &::after {
            background-image: url(../img/svg/underline-violet_1.svg);
        }
    }
}

.text-orange {
    color: $orange !important;
}

.text-violet {
    color: $violet !important;
}

.bg-clip {
    z-index: 900;
    padding-top: $clip-padding;
    &--top-rtl {
        clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
        transform: translateY(1px);
    }
    &--top-ltr {
        clip-path: polygon(0 0, 100% 100%, 100% 100%, 0 100%);
        transform: translateY(1px);
    }
    &--bottom-rtl {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0);
        transform: translateY(-1px);
    }
    &--bottom-ltr {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%);
        transform: translateY(-1px);
    }
    &-divider {
        z-index: 900;
        padding-top: $clip-padding-divider;
        &--top-rtl {
            clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
            transform: translateY(1px);
        }
        &--top-ltr {
            clip-path: polygon(0 0, 100% 100%, 100% 100%, 0 100%);
            transform: translateY(1px);
        }
        &--bottom-rtl {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0);
            transform: translateY(-1px);
        }
        &--bottom-ltr {
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%);
            transform: translateY(-1px);
        }
    }
}

.shift-up {
    margin-top: calc(-3rem - 2px);
    &--divider {
        margin-top: calc(-5.7vw - 2px);
    }
}

@mixin bg-colors {
    &-primary {
        background-color: $primary;
    }
    &-violet {
        background-color: $violet;
    }
    &-orange {
        background-color: $orange;
    }
    &-green {
        background-color: $green;
    }
    &-red {
        background-color: $red;
    }
    &-light-blue {
        background-color: $light-blue;
    }
    &-black {
        background-color: $font-black;
    }
    &-grey {
        background-color: $grey;
    }
    &-white {
        background-color: $white;
    }
    &-transparent{
        background-color: unset;
    }
}

.bg {
    &-color {
        @include bg-colors;
        &-sm {
            @media(min-width: 576px) {
                @include bg-colors;
            }
        }
        &-md {
            @media(min-width: 768px) {
                @include bg-colors;
            }
        }
    }
}


/* COMPONENTS */

.imageText {
    &__image {
        position: relative;
        z-index: 0;
        img {
            transition: transform 0.3s ease-in, filter 0.3s ease-in;
            @media(min-width: 768px) {
                transform: translate( 0, 0) scale(1);
            }
        }
    }
    &__text {
        position: relative;
        z-index: 1;
    }
    &__heading {
        position: relative;
    }
    &:hover {
        .imageText__image img {
            @media(min-width: 768px) {
                transform: $shadow-hard-shift;
                filter: drop-shadow(0.4rem 0.4rem 0 rgba($primary, 0.9));
                transition: transform 0.2s ease-in, filter 0.2s linear;
            }
            @media(min-width: 1199px) {
                transform: translate(-0.9rem, -0.9rem) scale(1.05);
            }
        }
    }
}